/* Estilos generales */
* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del encabezado */
header {
  background-color: #444444;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 100px;
  height: 60px;
}

.textos-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.textos-nav ul li {
  display: inline-block;
}

.textos-nav ul li a {
  font-size: 20px;
  color: #ffffff;
  margin: 0 10px;
}

/* Estilos del contenido principal */
main {
  text-align: center;
  margin-top: 20px;
}

.video {
  position: relative;
  width: auto;
  height: 300px;
  padding: 2px;
  left: 5px;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.boton {
  margin-top: 20px;
}

/* Estilos de la sección aside */
.informacion {
  text-align: center;
  position: relative;
  width: auto;
  height: 300px;
  padding: 2px;
  left: 5px;

}
.aside-container{
  background-color: aqua;
  height: auto;
  background-size: cover;
  background-image: url(https://www.plantasmania.com/wp-content/uploads/2019/11/Fertilizantes-agricultura.jpg);
}
.informacion-container {
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
}

.informacion-container h2 {
  font-size: 24px;
  margin-bottom: 10px;

}

.informacion-container p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos del pie de página */
footer {
  background-color: #444444;
  padding: 20px;
  text-align: center;
}

.redes-sociales a {
  display: inline-block;
  margin: 0 10px;
}

.redesx {
  width: 50px;
  height: 50px;
}

.redesx:hover {
  opacity: 0.8;
}

/* sobre nosotros............................................................................... */
.participantes div {
  background-color: #ccc;
  margin: 5px;
  text-align: center;


}

.participantes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.maria-fernanda {
  width: 25%;
  background-color: rgb(11, 61, 168)0;
  text-align: center;
}

.fotofer {
  width: 200px;
  border: 2px solid rgb(0, 0, 0);
}

.testos-carta-fer {
  align-items: center;
}

.textos-carta-fer h2 {
  color: hwb(120 22% 60%);
}

/* fer garcia */
.fernando-garcia {
  background-color: antiquewhite;
  width: 25%;
  text-align: center;
}

.fotogarcia {
  width: 172px;
  border: 2px solid rgb(0, 0, 0);
}

.testos-carta-garcia {
  align-items: center;

}

.textos-carta-garcia h2 {
  color: rgb(55, 102, 55);
}

/* nico */
.nico {
  width: 25%;

  background-color: blueviolet;
  text-align: center;
}

.fotonico {
  width: 177px;
  border: 2px solid rgb(0, 0, 0);
}

.testos-carta-nico {
  align-items: center;

}

.textos-carta-nico h2 {
  color: rgb(55, 102, 55);
}

/* eventos........................................... */

.eventos-aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventos-aside img {
  max-width: 100%;
  max-height: 100%;
}

.texto-eventos {
  width: 500px;
  height: 170px;

  position: relative;
  padding: 2px;
  left: 40px;
}

.texto-eventos p {
  font-size: 18px;
  position: absolute;

}

.mapa-eventos iframe {
  width: 1000px;
  position: relative;
  left: 40%;
  bottom: 170px;
  border: 2px solid black;
  height: 500px;
}

.mapa-eventos {
  
}

/* ------------------------------------------ */
.body-product {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.9fr 1.1fr 1fr;
  grid-template-rows: 0.6fr 2.4fr 0.4fr;
  gap: 5px 5px;
  grid-template-areas:
    "menu menu menu"
    "video video main"
    "footer footer footer";
}

header {
  grid-area: menu;
}

.video {
  grid-area: video;
}

.aside-container {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* pseudo */
ul li a:hover {

  color: hwb(120 22% 60%);
}